
<!DOCTYPE html>
<html lang = "en">

{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<head>
  
  <title>MyScrumy</title>
  <meta charset = "UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'myscrumy/css/sc.css' %}">
</head>

<body>
  
  <h3>linuxjobber</h3>

  <div>
  	
  	<h5>Welcome to Scrumy</h5>
	<p><a href="accounts/login/">Login</a></p>
	<form method="post" action="">
		{% csrf_token %}
		<label>Company Name: </label><br>
		<input type="text" name="companyname" required="true"><br><br>
		<label>Project manager Email: </label><br>
		<input type="email" name="email" required="true"><br><br>
		<label>First Name: </label><br>
		<input type="text" name="firstname" required="true"><br><br>
		<label>Last Name: </label><br>
		<input type="text" name="lastname" required="true"><br><br>
		<label>Password: </label><br>
		<input type="password" name="password" required="true"><br><br>
		<p>Role: Manager</p><br>
		<input type="submit" name="submit" value="Start Project">
	</form>


  </div>


</body>

</html>