table {
	border : 1px solid;
	width : 100%;
	background-color: #ebf2bc;
}
th,tr,td {
	border : 1px solid;
	padding: 20px 20px 20px 20px;
	margin: 10px 10px 10px 10px;
}

body {
	background-color: #ebf2bc;
	font-family:  serif;
	font-size: 15px;
}

h3 {
	margin-left: 20px;
	margin-top: 10px;
	font-family:  serif;
	font-size: 25px;
}

#delete {
	color: #9e2121;
	
}

#logout {
	margin-left: 1100px
}

#box {
	border: 1px solid;
	padding: 20px 20px 20px 20px;
	margin: 20px 20px 20px 20px;
}